<!-- 
</form>
<form id="process_credit_line" method="post" action="/credit_line/process">
-->

<%# link_to "Process Payment", "/credit_line/process", :method => "post" %>

<% @order.payments.inspect %>